<!--The content below is only a placeholder and can be replaced.-->


<div class="container">

  <input type="text" [(ngModel)]="name">
  <p>{{ name }}</p>

  <h3>I'm the App component!</h3>
  
  <hr>

  <app-servers-group></app-servers-group>

  <app-alert-warning>
  </app-alert-warning>

  <app-alert-success>
  </app-alert-success>

  <hr>

  <label>Assignment 2: Username</label>

  <input
    type="text"
    class="form-control"
    [(ngModel)]="username">

  <p>{{ username }}</p>

  <button 
    class="btn btn-primary"
    [disabled]="username === ''"
    (click)="username=''">Reset User</button>


  <hr>

  <label>Assignment 3: Display Details</label>

  <br />

  <!-- <input
    type="text"
    class="form-control"
    [(ngModel)]="username"> -->

  <!-- <p>{{ username }}</p> -->

  <!-- <button 
    class="btn btn-primary" (click)="detailsState = !detailsState">Display Details</button> -->

    <button 
    class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
    <p *ngIf="!detailsState">Lorem ipsum dolor sit amet</p>

    <p
      *ngFor="let logItem of log; let i = index"
      [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
      [ngClass]="{'paragraph-text': i >= 4}">{{ logItem }}</p>
</div>





<!-- <p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>

<ng-template #noServer>
  <p>No server was created!</p>
</ng-template> -->



<!-- <div style="text-align:center">
  <h1>
    Welcome to the home of {{ title }}!
  </h1>
  
  <input type="text" [(ngModel)]="name">
  <p>{{ name }}</p>

  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

